# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf
*.pyc binary
*.pyo binary
*.pyd binary

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Documents
*.md text eol=lf
*.txt text eol=lf

# Procfile
Procfile text eol=lf

# Requirements files
requirements.txt text eol=lf
render_requirements.txt text eol=lf